

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>ConquerorHub</title>
    
 

    <link rel="icon" href="~/Content/Images/ConquerorHubtitle.png"  type="image/png" sizes="16x16">
    <link href="~/Content/WinkuTemplate/css/main.min.css" rel="stylesheet" />
    <link href="~/Content/WinkuTemplate/css/style.css" rel="stylesheet" />
    <link href="~/Content/WinkuTemplate/css/color.css" rel="stylesheet" />
    <link href="~/Content/WinkuTemplate/css/responsive.css" rel="stylesheet" />
    <script src="~/Content/WinkuTemplate/js/main.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btn').click(function () {
                debugger;

                var res = $('#myInput').val();
                alert("Search clicked " + res)
                window.location.href = '@Url.Action("Home1", "OrganizerBasicDetails")?name=' + res;
                
            });
        });
    </script>
    <script type="text/javascript">

                                                var arr = null;
                                                $(function () {
                                                    $.ajax({
                                                        url: "/Events/Searchbox",
                                                        type: "GET",
                                                        dataType: "json",
                                                        contentType: "application/json",
                                                       // data: { term: request.term },
                                                        success: function (data) {
                                                            debugger;
                                                           // arr = data;
                                                            autocomplete(document.getElementById("myInput"), data);
                                                        },

                                                    });
                                                });

                                                function autocomplete(inp, arr) {
                                                    debugger;
                                                    var currentFocus;
                                                    inp.addEventListener("input", function (e) {
                                                        debugger;
                                                        var a, b, i, val = this.value;
                                                        closeAllLists();
                                                        if (!val) { return false; }
                                                        currentFocus = -1;
                                                        a = document.createElement("DIV");
                                                        a.setAttribute("id", this.id + "autocomplete-list");
                                                        a.setAttribute("class", "autocomplete-items");
                                                        this.parentNode.appendChild(a);
                                                        for (i = 0; i < arr.length; i++) {
                                                            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                                                b = document.createElement("DIV");
                                                                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                                                                b.innerHTML += arr[i].substr(val.length);
                                                                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                                                                b.addEventListener("click", function (e) {
                                                                    inp.value = this.getElementsByTagName("input")[0].value;
                                                                    closeAllLists();
                                                                });
                                                                a.appendChild(b);
                                                            }
                                                        }
                                                    });
                                                    /*execute a function presses a key on the keyboard:*/
                                                    inp.addEventListener("keydown", function (e) {
                                                        var x = document.getElementById(this.id + "autocomplete-list");
                                                        if (x) x = x.getElementsByTagName("div");
                                                        if (e.keyCode == 40) {
                                                            /*If the arrow DOWN key is pressed,
                                                            increase the currentFocus variable:*/
                                                            currentFocus++;
                                                            /*and and make the current item more visible:*/
                                                            addActive(x);
                                                        } else if (e.keyCode == 38) { //up
                                                            /*If the arrow UP key is pressed,
                                                            decrease the currentFocus variable:*/
                                                            currentFocus--;
                                                            /*and and make the current item more visible:*/
                                                            addActive(x);
                                                        } else if (e.keyCode == 13) {
                                                            /*If the ENTER key is pressed, prevent the form from being submitted,*/
                                                            e.preventDefault();
                                                            if (currentFocus > -1) {
                                                                /*and simulate a click on the "active" item:*/
                                                                if (x) x[currentFocus].click();
                                                            }
                                                        }
                                                    });
                                                    function addActive(x) {
                                                        /*a function to classify an item as "active":*/
                                                        if (!x) return false;
                                                        /*start by removing the "active" class on all items:*/
                                                        removeActive(x);
                                                        if (currentFocus >= x.length) currentFocus = 0;
                                                        if (currentFocus < 0) currentFocus = (x.length - 1);
                                                        /*add class "autocomplete-active":*/
                                                        x[currentFocus].classList.add("autocomplete-active");
                                                    }
                                                    function removeActive(x) {
                                                        /*a function to remove the "active" class from all autocomplete items:*/
                                                        for (var i = 0; i < x.length; i++) {
                                                            x[i].classList.remove("autocomplete-active");
                                                        }
                                                    }
                                                    function closeAllLists(elmnt) {
                                                        /*close all autocomplete lists in the document,
                                                        except the one passed as an argument:*/
                                                        var x = document.getElementsByClassName("autocomplete-items");
                                                        for (var i = 0; i < x.length; i++) {
                                                            if (elmnt != x[i] && elmnt != inp) {
                                                                x[i].parentNode.removeChild(x[i]);
                                                            }
                                                        }
                                                    }
                                                    /*execute a function when someone clicks in the document:*/
                                                    document.addEventListener("click", function (e) {
                                                        closeAllLists(e.target);
                                                    });
                                                }




    </script>
</head>

@using Microsoft.AspNet.Identity;
@using Conquerorhub.SDK.Services
@{
    var obj = new ApplicationMandatoryService();
    if (ViewBag.UserId != null)
    {
        Guid? abc = ViewBag.UserId;

        ViewBag.UserName = obj.Getuserlist("adsfff").Entity.FirstOrDefault(a => a.Id == abc.ToString()).UserName;
        ViewBag.UserType = obj.Getuserlist("adsfff").Entity.FirstOrDefault(a => a.Id == abc.ToString()).Usertype;
    }
    else
    {
        var id = User.Identity.GetUserId();
        ViewBag.UserName = obj.Getuserlist("adsfff").Entity.FirstOrDefault(a => a.Id == id).UserName;
        ViewBag.UserType = obj.Getuserlist("adsfff").Entity.FirstOrDefault(a => a.Id == id).Usertype;
    }
    ViewBag.name = obj.Getuserlist("adsfff").Entity.FirstOrDefault(a => a.Id == User.Identity.GetUserId()).UserName;
}

@using Staticsite.Controllers

@{
    Guid? y1 = ViewBag.UserId;

    var data = new BasicFunctionalityController();
    var data1 = data.MainPhotosofProfile(y1).Values;
    if (data1.Count != 0)
    {
        var d = data1.First();
        var r = data1.Last();
        ViewBag.bannerpic1 = r;
        ViewBag.profilepic = d;
    }
    else
    {
        ViewBag.bannerpic1 = null;

    }



}




<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">

        @Html.Partial("_HeaderPartialPage")

        @Html.Partial("_ProfilePartiaView")

        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">

                                <!--If page is Organize Event then don't execute following code-->
                                <div class="col-lg-3">

                                    <aside class="sidebar static">
                                        <div class="widget">
                                            <h4 class="widget-title">Event info</h4>
                                            <ul class="naves">
@if (ViewBag.UserId == null)
{
                                                <li>
                                                    <i class="ti-info-alt"></i>                                        
                                                    <a href="@Url.Action("OrganizeEvent","Events")">Organize Event</a>

                                                </li>
}
                                                <li>
                                                    <i class="ti-info-alt"></i>
                                                    <a title="" href="edit-profile-basic.html">Past Event</a>
                                                </li>
                                                <li>
                                                    <i class="ti-mouse-alt"></i>
                                                    <a title="" href="edit-work-eductation.html">Future Event</a>
                                                </li>
                                                <li>
                                                    <i class="ti-heart"></i>
                                                    <a title="" href="edit-interest.html">Present Event</a>
                                                </li>


                                                @*<li>
                                                        <i class="ti-settings"></i>
                                                        <a title="" href="edit-account-setting.html"></a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-lock"></i>
                                                        <a title="" href="edit-password.html">change password</a>
                                                    </li>*@
                                            </ul>
                                        </div>
                                        
                                    </aside>
                                </div><!-- sidebar -->


                                @RenderBody()

                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        <div class="widget">
                                            <h4 class="widget-title">PAST EVENT FEED</h4>
                                            <ul class="twiter-feed">
                                                <li>
                                                    <i class="fa fa-twitter"></i>
                                                    <span>
                                                        <i>Event Name</i>
                                                        #Organizer Name
                                                    </span>
                                                    <p>This event held on 28-010-2019 and winner is <a href="#" title="">#WinnerName</a> got 2000 Rs. Price money.  <a href="#" title="">#know more</a> </p>
                                                    <em>2 Days ago</em>
                                                </li>
                                                <li>
                                                    <i class="fa fa-twitter"></i>
                                                    <span>
                                                        <i>Event Name</i>
                                                        #Organizer Name
                                                    </span>
                                                    <p>This event held on 28-010-2019 and winner is <a href="#" title="">#WinnerName</a> got 2000 Rs. Price money.  <a href="#" title="">#know more</a> </p>
                                                    <em>3 Days ago</em>
                                                </li>
                                                <li>
                                                    <i class="fa fa-twitter"></i>
                                                    <span>
                                                        <i>Event Name</i>
                                                        #Organizer Name
                                                    </span>
                                                    <p>This event held on 28-010-2019 and winner is <a href="#" title="">#WinnerName</a> got 2000 Rs. Price money.  <a href="#" title="">#know more</a> </p>
                                                    <em>4 Days ago</em>
                                                </li>
                                            </ul>
                                        </div><!-- twitter feed-->
                                        
                                   
                                    </aside>
                                </div><!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget">
                            <div class="foot-logo">
                                <div class="logo">
                                    <a href="index-2.html" title=""><img src="~/Content/assets/images/logo.png" alt=""></a>
                                </div>
                                <p>
                                    The trio took this simple idea and built it into the world’s leading carpooling platform.
                                </p>
                            </div>
                            <ul class="location">
                                <li>
                                    <i class="ti-map-alt"></i>
                                    <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+1-56-346 345</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>follow</h4></div>
                            <ul class="list-style">
                                <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
                                <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
                                <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
                                <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
                                <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>Navigate</h4></div>
                            <ul class="list-style">
                                <li><a href="about.html" title="">about us</a></li>
                                <li><a href="contact.html" title="">contact us</a></li>
                                <li><a href="terms.html" title="">terms & Conditions</a></li>
                                <li><a href="#" title="">RSS syndication</a></li>
                                <li><a href="sitemap.html" title="">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>useful links</h4></div>
                            <ul class="list-style">
                                <li><a href="#" title="">leasing</a></li>
                                <li><a href="#" title="">submit route</a></li>
                                <li><a href="#" title="">how does it work?</a></li>
                                <li><a href="#" title="">agent listings</a></li>
                                <li><a href="#" title="">view All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>download apps</h4></div>
                            <ul class="colla-apps">
                                <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                                <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
                                <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- footer -->
        <div class="bottombar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
                        <i><img src="images/credit-cards.png" alt=""></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side-panel">
        <h4 class="panel-title">General Setting</h4>
        <form method="post">
            <div class="setting-row">
                <span>use night mode</span>
                <input type="checkbox" id="nightmode1" />
                <label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>Notifications</span>
                <input type="checkbox" id="switch22" />
                <label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>Notification sound</span>
                <input type="checkbox" id="switch33" />
                <label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>My profile</span>
                <input type="checkbox" id="switch44" />
                <label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>Show profile</span>
                <input type="checkbox" id="switch55" />
                <label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
            </div>
        </form>
        <h4 class="panel-title">Account Setting</h4>
        <form method="post">
            <div class="setting-row">
                <span>Sub users</span>
                <input type="checkbox" id="switch66" />
                <label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>personal account</span>
                <input type="checkbox" id="switch77" />
                <label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>Business account</span>
                <input type="checkbox" id="switch88" />
                <label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>Show me online</span>
                <input type="checkbox" id="switch99" />
                <label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>Delete history</span>
                <input type="checkbox" id="switch101" />
                <label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
            </div>
            <div class="setting-row">
                <span>Expose author name</span>
                <input type="checkbox" id="switch111" />
                <label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
            </div>
        </form>
    </div><!-- side panel -->

    
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Content/WinkuTemplate/js/main.min.js"></script>>
    <script src="~/Content/WinkuTemplate/js/script.js"></script>
    <script src="~/Content/WinkuTemplate/js/map-init.js"></script>
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
</body>
</html>
<script>
    function highlightbtn() {
        debugger;
        $(".btnshow").removeAttr("hidden");
        $(".btnshow").show();

    }
</script>
<script>
    function  GetSubscriber(id) {
        debugger;
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetSubscribersList", "BasicFunctionality")",
            contentType: "application/json; charset=utf-8",
        data:{ Id: id },
        dataType: "json",
        success: function (result) {
            location.reload(true);

        },
        error: function () { alert('A error'); }
    });


    }


    function postSubscriber(x, id) {
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveSubscribers", "BasicFunctionality")",

            contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
            status: x,
            UserId: id
        }),
        dataType: "json",
        success: function (result) {
            GetSubscriber(id);

        },
        error: function () { alert('A error'); }
    });


    }
    function GetLike(id, userid) {
        debugger;
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLLikesList", "BasicFunctionality")",

            contentType: "application/json; charset=utf-8",
        data:{ Id: id },
        dataType: "json",
        success: function (result) {
            $("likecount").append()
            alert('Success');
        },
        error: function () { alert('A error'); }
    });
    }
    function postlike(x, id,userId) {
        debugger;
         $.ajax({
            type: "POST",
            url: "@Url.Action("SaveLikes","BasicFunctionality")",

            contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
            status: x,
            id:id,
            userid: userId
        }),
        dataType: "json",
        success: function (result) {

            alert('Success');
            GetLike(id, userId)

        },
        error: function () { alert('A error'); }
    });
    }
    function  GetShare(id) {
        debugger;
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetShareList", "OrganizerBasicDetails")",

            contentType: "application/json; charset=utf-8",
        data:{ Id: id },
        dataType: "json",
        success: function (result) {

            alert('Success');
        },
        error: function () { alert('A error'); }
    });
    }
    function postshare(id,Userid) {
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveShare","BasicFunctionality")",

            contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
            id: id,
            sourceid:Userid
        }),
        dataType: "json",
        success: function (result) {
            alert('Success');
            GetShare(id)

        },
        error: function () { alert('A error'); }
    });
    }
</script>